---
- hosts: new_nodes
  gather_facts: yes
  become: yes
  serial: 1
  roles:
  - role: rhel_subscribe
    when: deployment_type in ["enterprise", "atomic-enterprise", "openshift-enterprise"] and
          ansible_distribution == "RedHat" and rhel_subscription_user is defined
  - role: rhsm-subscription
    when: deployment_type in ["enterprise", "atomic-enterprise", "openshift-enterprise"] and
          ansible_distribution == "RedHat" and rhel_subscription_user is not defined

- hosts: new_nodes
  gather_facts: no
  become: yes
  roles:
  - { role: rhsm-repos, when rhel_subscription_user is not defined and rhel_subscription_pass is not defined and rhel_subscription_pool is not defined }
  - prerequisites
