---
---
- hosts: cluster_hosts
  gather_facts: yes
  become: yes
  roles:
  - rhsm-timeout
  - role: atomic-update
    when: openshift.common.is_atomic

- hosts: cluster_hosts
  gather_facts: no
  serial: 1
  become: yes
  roles:
  - role: rhel_subscribe
    when: deployment_type in ["enterprise", "atomic-enterprise", "openshift-enterprise"] and
          ansible_distribution == "RedHat" and rhel_subscription_user is defined
  - role: rhsm-subscription
    when: deployment_type in ["enterprise", "atomic-enterprise", "openshift-enterprise"] and
          ansible_distribution == "RedHat" and rhel_subscription_user is not defined

- hosts: cluster_hosts
  gather_facts: no
  become: yes
  roles:
  - prerequisites

- hosts: master
  gather_facts: yes
  become: yes
  roles:
  - master-prerequisites
